.close {
  padding: 4px;
  color: #e63946;
  font-weight: bold;
}

.close:hover {
  color: #1d3557;
}

.feed-title {
  font-size: 16px;
}

.feed-description {
  font-size: 12px;
  color: #457d9b;
}
.feed {
  margin: 6px 0;
}
