.feeds {
  background-color: #F1FAEE;
  padding: 24px 0 24px 12px;
}

.feedlist {
  padding-left: 0;
  list-style-type: none;
}

.list-title {
  font-family: Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}
