.popup {
  background-color: #F1FAEE;
  width: 30%;
  padding: 12px 4px 20px;
}

.popuptext {
  font-family: Courier, monospace;
  font-size: 14px;
}

.popup-title {
  font-family: Courier, monospace;
  font-size: 18px;
  font-weight: bold;
}