.post-title {
  font-size: 16px;
}

.post {
  color: #1d3557;
  text-decoration: underline 1px dotted;
}

.posts-list {
  margin: 12px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.visited,
.post:hover {
  color: #457b9d;
}

.preview-button:hover {
  background-color: #a8dadc;
}

.preview-button {
  margin: 0 12px;
}
