@font-face {
  font-weight: 400;
  font-family: 'Courier';
  src: url('../cour.ttf');
}

@font-face {
  font-weight: 700;
  font-family: 'Courier';
  src: url('../courbd.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  max-width: 76vw;
  margin: 0 auto;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  padding-bottom: 16px;
}

html {
  height: 100%;
  background-color: #a8dadc;
  color: #1d3557;
}
body {
  font-family: sans-serif;
  margin: 0;
  height: 100%;
}

.main {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 4fr 2fr;
  background-color: #f1faee;
}
